@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
    --main-font-color:white;
    --mauve: rgba(161,113,136,1);
    --sage: #357466;
    --grape: #5e5297;
    --sea-foam-green: #22ae97;
    --muted-plum: #6b5c7e;
    --ferozi: #02c3cd;
    --muted-teal: #41949b;
    font-family: 'Dosis', sans-serif;
    --header-font-size: 3vw;
    --display-font-size: 6vw;
    --button-font-size: 2vw;
    --main-border-radius: 10px 70px;
    --main-border-style: none;
    --operator-button-padding: 15px 10px;
    --number-button-padding: 15px 10px;
    --other-buttons-padding: 15px 5px;
}

.header {
    text-align: center;
    font-size: var(--header-font-size);
}

h1 {
    color: var(--mauve);
    font-family: inherit;
    text-align:center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculatorTopSection {
    display: flex;
    justify-content: center;
}

#display {
    background-color: black;
    color: var(--mauve);
    font-family: inherit;
    font-size: var(--display-font-size);
    text-align: center;
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    max-width: 50vw;
}

.displayContainer {
    display: flex;
    justify-content: center;
}

.leftSection {
    display: flex;
    flex-direction: column;
}

.rightSection {
    display: flex;
    flex-direction: column;
}

.calculatorBottomSection {
    display: flex;
    justify-content: center;
}

.operator {
    background-color: var(--mauve);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    padding: var(--operator-button-padding);
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.1;
}

.number {
    background-color: var(--sea-foam-green);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    display: flex;
    justify-content: space-between;
    padding: var(--number-button-padding);
}

#allClear {
    background-color: var(--muted-plum);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    padding: var(--other-buttons-padding);
}

#decimal {
    background-color: var(--ferozi);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    padding: var(--other-buttons-padding);
}

#sign {
    background-color: var(--muted-teal);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    padding: var(--other-buttons-padding);
}

#equals {
    background-color: var(--grape);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    padding: var(--other-buttons-padding);
}

#backspace {
    background-color: var(--sage);
    color: var(--main-font-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    padding: var(--other-buttons-padding);
}